# Python bytecode
__pycache__/
*.py[cod]

# Logs and Dag Processor logs
logs/
*.log

# Keys (Sensitive data)
keys/*.json

# Airflow-related files
airflow.env
scheduler/
dag_processor_manager/

# ignore terrfaorm files
# Ignore all files in the .terraform directory
terraform/.terraform/
# gcp credentials for terraform
terraform/keys*.json
# Data files
data/

