# Python bytecode
__pycache__/
*.py[cod]

# Logs and Dag Processor logs
logs/
*.log

# Keys (Sensitive data)
keys/*.json

# Airflow-related files
airflow.env
scheduler/
dag_processor_manager/



# gcp credentials for terraform

# Data files
data/

